<po-page-default p-title="Listagem de canditatos(as)" class="jobs-content">
  <div class="flex-justify-end">
    <po-button
      p-kind="primary"
      p-label="Adicionar canditato(a)"
      (p-click)="modalForm.open()"
    >
    </po-button>
  </div>
  <po-accordion class="jobs-content__accordion">
    <po-accordion-item
      *ngFor="let item of listProfile"
      [p-label]="getLabel(item)"
    >
      <span>{{ item.description }}</span>
      <div class="jobs-content__accordion__infos">
        <ul>
          <span>Minhas experiência:</span>
          <li *ngFor="let experiencesProfile of item.experiencesProfile">
            {{ experiencesProfile.description }}
          </li>
        </ul>
      </div>
      <div class="jobs-content__accordion__actions">
        <po-button p-label="Excluir" (p-click)="modal.open(item.id)">
        </po-button>
        <po-button p-label="Editar" (p-click)="details(item.id)"> </po-button>
      </div>
    </po-accordion-item>
  </po-accordion>
</po-page-default>

<app-modal
  #modal
  titleModal="Excluir canditato(a)"
  descriptionModal="você confirma a exclução dessa canditato(a)?"
  labelButtonPrimary="Sim"
  labelButtonDanger="Não"
  (deleteConfirmEvent)="deleteConfirm($event)"
></app-modal>

<app-modal-form
  #modalForm
  (subitFormEvent)="subitFormEvent($event)"
></app-modal-form>
